<div class="events-container">
  <div class="dinner-events">
    <% day[:events][:dinner].each do |event| %>
    <div class="dinner-event">
      <div title="<%= event.user.name %>" class="dinner-label user-<%= event.user.id %> "></div>
    </div>
    <% end %>
  </div>
  <div class="dinner-extra-events">
    <% day[:events][:dinner_extra].each do |event| %>
    <div class="dinner-extra-event">
      <div title="<%= event.extra_person %>" class="dinner-label user-<%= event.user.id %> "></div>
    </div>
    <% end %>
  </div>
</div>