<%= form_for(current_user.events.find_by(category: "dinner", date: day[:date]), html: { method: :delete }) do |f| %>
  <div><%= f.hidden_field :category %></div>
  <div><%= f.hidden_field :date %></div>
  <%= f.submit "Unjoin", class: "btn btn-danger join-dinner" %>
<% end %>