<% provide(:title, 'Calendar') %>
<% current_month = current_month_navigation_number %>
<h1>Calendar</h1>
<div class="row">
    <div class="span12">
      <%= render 'shared/month_navigation', path: 'calendar' %>
      <%= render 'events/calendar' %>
      <%= render 'shared/modal' %>
    </div>
</div>
