// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_colors.css.scss";
$opacity: .25;

.table{
	.user-1 td .name{
		color: $customColorUser1;
	}

	.user-2 td .name{
		color: $customColorUser2;
	}

	.user-3 td .name{
		color: $customColorUser3;
	}

	.user-4 td .name{
		color: $customColorUser4;
	}
}

.expense-form{
	.row{
		margin: 0;
	}

	.date {
		margin-left: 62px;

		.day{
			width: 60px;
		}

		.month{
			width: 115px;
		}

		.year{
			width: 75px;
		}
	}
}