// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$opacity: .25;

.expense-form{
	.row{
		margin: 0;
	}

	.input-holder{
		height: 27px;
		float: left;
		margin-bottom: 10px;
		line-height: 27px;
	}

	.calculator{
		width: 72%;
		float: right;
	}

	.date {
		margin-left: 53px;

		.day{
			width: 60px;
		}

		.month{
			width: 115px;
		}

		.year{
			width: 75px;
		}
	}
}

#modal .modal-footer.edit-expense .button_to{
	float: left;
	display: block;
	margin: 0;
}