<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Groceries", '#' %></li>
        <li><%= link_to "Account", '#' %></li>
      </ul>
    </div>
  </div>
</header>